@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

:root {
  --clr-light: #efefef;
  --clr-light-secondary: #d4d4d4;
  --clr-dark-bg: #121212;

  --clr-card: #1b1f25;
  --clr-card-hover: #1f242b;

  --clr-accent-7: #4c1d95;
  --clr-accent-8: #5b21b6;
  --clr-accent-9: #6d29d0;
  --clr-accent-0: #7c3aed;  /* main color */
  --clr-accent-1: #8b5cf6;
  --clr-accent-2: #a78bfa;
  --clr-accent-3: #c4b5fd;
  --clr-accent-4: #ddd6fe;

  --ff-sans-serif: 'Noto Sans Kr', sans-serif;
  --ff-monospace: 'Share Tech Mono', monospace;

  --fs-h1: 2.25rem;      /*  40px  */
  --fs-h2: 2rem;        /*  32px  */
  --fs-h3: 1.25rem;     /*  20px  */
  --fs-body: 1rem;      /*  16px  */

  --bs: .25em .25em .75em rgba(0, 0, 0, .25),
        .125em .125em .25em rgba(0, 0, 0, .15);
  --bs-light: .25em .25em .75em rgba(0, 0, 0 ,.15),
              .125em .125em .25em rgba(0, 0, 0, .05);
}

/** General css **/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  filter: brightness(0.8) contrast(1.2)
}
h1 {
  font-size: var(--fs-h1);
  margin: 0 0 .5em;
}
h2 {
  font-size: var(--fs-h2);
  display: inline-block;
  margin-bottom: .5em;
}
h3 {
  font-size: var(--fs-h3);
}
h2::after {
  content: "";
  display: block;
  width: 60%;
  height: .25em;
  margin-top: .25em;
  background: var(--clr-accent-1);
}
h2 + p {
  color: var(--clr-light-secondary);
}
section {
  margin: 3em 0;
}

body {
  padding: .5em;
  background: var(--clr-dark-bg);
  color: var(--clr-light);
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-body);
  line-height: 1.6;
}

/** Side Navigation **/
#nav {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 80vw;
  height: 100vh;
  background: #1c1c1c;
  box-shadow: var(--bs);
}
#nav.open {
  visibility: unset;
  opacity: 1;
  transform: translateX(0);
}
#nav button {
  margin: 1em;
  padding: .5em 1em;
}
#nav ul li a {
  display: block;
  font-size: 1.4em;
  padding: .6em;
}
#nav ul li.active {
  background: var(--clr-accent-0);
}

/** Header **/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5em;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  max-width: 800px;
  background: var(--clr-dark-bg);
}
#hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#hamburger span {
  width: 24px;
  height: 3px;
  border-radius: 3px;
  background: white;
}
a#logo {
  font-weight: bold;
  margin: 0 1em;
}
a#theme {
  margin-left: auto;
}

/** Home **/
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 80vh;
}
#home h1.second {
  margin-bottom: 0;
}
#home h1 strong {
  color: var(--clr-accent-2);
}
#home p.subtitle {
  display: block;
  font-family: var(--ff-monospace);
  font-size: var(--fs-h3);
  text-align: right;
  padding: .25em 1em;
  margin: 0 0 .5em;
  background: var(--clr-accent-0);
  width: calc(100% - 2em);
}
#home .github {
  width: calc(100% - 2em);
  text-align: right;
}
#home .github a {
  padding-right: 10px;
  font-size: var(--fs-h3);
  color: var(--clr-accent-2);
}
#home .github a:hover {
  color: var(--clr-accent-3);
}
#home .github span {
  font-size: var(--fs-body);
}

/** About Me **/
#about p {
  line-height: 2.4;
}
#about p.history {
  color: var(--clr-accent-4);
  line-height: 2;
  opacity: .5;
}
#about .history span.hidden {
  visibility: hidden;
}
#about hr {
  margin: 4em 0 1em;
  width: 2em;
  border: 1px solid var(--clr-accent-1);
}

/** Skills **/
#skills .programs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: .8em;
  padding: 1.25em .5em;
  background: var(--clr-card);
  box-shadow: var(--bs);
}
#skills .program {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0 .5em;
  border-radius: 5px;
  background: var(--clr-card-hover);
  box-shadow: var(--bs-light);
}
#skills .icon {
  width: 40px;
  height: 40px;
  margin-bottom: .5em;
}
#skills .icon img {
  width: 100%;
  height: 100%;
}
#skills .program.wip {
  background: var(--clr-card);
  position: relative;
}
#skills .program.wip .icon,
#skills .program.wip .txt {
  opacity: .6;
}
#skills .program.wip::before {
  opacity: 0;
  content: '';
  position: absolute;
  bottom: calc(100%);
  left: 50%;
  background: #fff;
  width: 16px; height: 16px;
  border-radius: 3px;
  transform: rotate(45deg) translateX(-50%);
}
#skills .program.wip::after {
  opacity: 0;
  content: '준비중입니다!';
  font-size: 12px;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
  background: #fff;
  color: #1c1c1c;
  padding: .25em .7em;
  border-radius: .5em;
}
#skills .program.wip:hover::before,
#skills .program.wip:hover::after {
  opacity: 1;
}

/** Projects **/
#projects .duo {
  margin-top: 2em;
  border-radius: 3px;
  background: var(--clr-card);
  box-shadow: var(--bs);
}
#projects .img img {
  width: 100%;
}
#projects .txt {
  padding: 1em 1em 2em;
}
#projects .txt h3 {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
#projects .txt span {
  font-size: var(--fs-body);
  font-weight: 400;
  color: #9ca3af;
}
#projects p {
  color: #d1d5db;
  margin-bottom: 1.5em;
}
#projects button {
  font-size: var(--fs-body);
  padding: .5em 1.5em;
  border: none;
  border-radius: 5px;
  background: var(--clr-accent-0);
  color: #fff;
}
#projects button:hover {
  background: var(--clr-accent-1);
  transition: .25s;
}

/** Javascript & React Apps **/
.cont {
  margin-top: 2em;
}
.apps .duo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2.5em;
}
.apps a.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--clr-card);
  box-shadow: var(--bs);
  border-radius: 3px;
  overflow: hidden;
}
.apps a.app:hover {
  background: var(--clr-card-hover);
  transition: .3s;
}
.apps a.app:hover img {
  opacity: 1;
  transition: .3s;
}
.apps .img {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.apps .img img {
  width: 100%;
  opacity: .8;
}
.apps .links {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  color: var(--clr-accent-2);
}
.apps .links a:hover {
  color: var(--clr-accent-3);
}
#react-apps .cont p {
  margin-left: .5em;
  padding: 1em;
  border-left: 4px solid var(--clr-accent-0);
}

/**Contact **/
#contact #fs-frm-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25em .5em 2em;
  border: none;
  border-radius: 5px;
  background: var(--clr-card);
  box-shadow: var(--bs);
}
#contact label {
  margin: 1em 0 .5em;
}
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  padding: .75em;
  border: 3px solid transparent;
  outline: none;
  border-radius: 5px;
  background: #dfdfdf;
}
#contact input:focus,
#contact textarea:focus {
  border: 3px solid var(--clr-accent-1);
  background: #fff;
}
#contact input[type="submit"] {
  display: block;
  background: var(--clr-accent-0);
  color: #fff;
  border: none;
  height: 40px;
  padding: 1em;
  margin-top: 1.5em;
  border-radius: 5px;
}
#contact input[type="submit"]:hover {
  background: var(--clr-accent-1);
}
#contact input[type="submit"]:active {
  bottom: var(--clr-accent-0);
}



/****** Modal FIX ******/
/* modal */
#modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
#modal {
  position: absolute;
  width: 1000px;
  height: calc(100vh - 200px);
  overflow-y: auto;
  top: 120px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  background: var(--clr-card);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.308);
}
.modal-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0 3rem;
  border-bottom: 1px solid #6b7280;
}
#modal h3 {
  color: #fff;
  font-size: var(--fs-h3);
}
#modal h4 {
  font-size: var(--fs-h3);
  margin-bottom: 0;
  opacity: 1;
}
#modal h5 {
  color: #eee;
  font-size: var(--fs-body);
  margin: 2em 0;
  opacity: .9;
}
#modal p {
  color: #e5e7eb;
  opacity: .8;
  margin: 3em 2em;
}
.modal-body {
  display: flex;
  flex-direction: column;
  padding: 0 36px;
}
.before-after,
.responsive {
  display: flex;
  justify-content: space-around;
}
.img-holder {
  display: flex;
}
.modal-body img {
  max-width: 400px;
  height: auto;
  box-shadow: 2px 4px 12px 2px #5757572c;
}
.responsive img {
  max-width: 240px;
}
.modal-body .tablet img {
  max-width: 360px;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  margin-top: 40px;
  margin-bottom: 20px;
  border-top: 1px solid #6b7280;
}
.exit-btn {
  padding: 20px 28px;
  border: none;
  font-size: 24px;
  font-weight: bold;
  background: transparent;
  color: #b3b3b3;
}
.exit-btn:hover {
  color: #fff;
}
#modal .btn {
  padding: 10px 28px;
  margin-left: 10px;
  color: #eee;
  font-size: var(--fs-body);
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
#modal .btn:hover {
  transition: 0.2s;
}
#modal .close-btn {
  background: transparent;
  border: 1px solid #797979
}
#modal .close-btn:hover {
  border: 1px solid #9ca3af;
  color: #fff;
}
#modal .more-btn {
  background: var(--clr-accent-0);
}
#modal .more-btn:hover {
  background: var(--clr-accent-1);
}
.more-btn a {
  border: 1px solid red;
}
/****** Modal FIX ******/